#message-container {
  min-height: 400px;
  height: 65vh;
  width: 70vw;
  overflow-y: auto;
  padding: 12px;
  background-color: var(--tertiary-color);
  border-radius: 8px;
  margin-bottom: 12px;
  margin-top: 5%;
}

.chat-message-title {
  color: var(--accent-primary-color);
  font-weight: bold;
}

.chat-message-item p {
  margin: 0;
}